@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #333333;
  --foreground: #e6e6e6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-metal-sans);
  width: 100%;
  min-height: 100vh;
}

